    <form action="" method="POST">
        <input type="text" name="modelo" placeholder="Modelo:"/>
        <input type="text" name="fabricante" placeholder="Fabricante:"/>
        <input type="text" name="ano" placeholder="Ano:"/>
        <input type="text" name="placa" placeholder="Placa:"/>
        <input type="text" name="numeroRenavam" placeholder="Numero do Renavam:"/>
        <input type="text" name="imagem" placeholder="Url da imagem:"/>
        <a href=""><button type="submit">Adicionar</button></a>
    </form>