<link rel="stylesheet" href="/CSS/header.css">
    <nav class="navbar navbar-expand-lg" style="background-color: grey;">
        <div class="container-md  background">
        <a class="navbar-brand" href="/views/home.ejs"><img src="/images/logoNextCars.png" alt="" style="width:50px;">NextCars</a>
        </div>
    </nav>
