<h1 style="display: flex;place-content: center;">O que deseja fazer?</h1>
<div class="d-grid gap-2" style="display: flex; place-content: center;">
    <form action="/cadastroCarro" method="get">
        <button class="btn bg-dark" style="color:aliceblue; width: 90vw;" type="button" >Cadastrar Carros</button>
    </form>
    <form action="/listar" method="get">
        <button class="btn btn-primary" type="button" style="width: 90vw;" >Listar Carros</button>
    </form>
</div>