    <h1>Bem-vindo ao NextCars</h1>
    <form action="/carros" method="POST">
        <input type="text" name="modelo" placeholder="Modelo:"/>
        <input type="text" name="fabricante" placeholder="Fabricante:"/>
        <input type="text" name="ano" placeholder="Ano:"/>
        <input type="text" name="placa" placeholder="Placa:"/>
        <input type="text" name="numeroRenavam" placeholder="Numero do Renavam:"/>
        <button type="submit">Adicionar</button>
    </form>


