<div class="container">
    <div class="row">
        <div class="col-lg-6 text-center">
            <a href="/cadastroCarro" method="GET">
                <button class="btn" type="button">Cadastrar Carros</button>
            </a>
        </div>
        <div class="col-lg-6 text-center">
            <a href="/mostrarCarros" method="GET">
                <button class="btn" type="button">Listar Carros</button>
            </a>
        </div>
    </div>
</div>