
<h1 style="display: flex;place-content: center;">O que deseja fazer?</h1>
<div class="d-grid gap-2" style="display: flex; place-content: center;">
    <a href="/cadastroCarro" method="GET">
        <button class="btn bg-dark" style="color:aliceblue; width: 90vw;" type="button">Cadastrar Carros</button>
    </a>
    <a href="/mostrarCarros" method="GET">
        <button class="btn btn-primary" type="button" style="width: 90vw;">Listar Carros</button>
    </a>
</div>