<link rel="stylesheet" href="/CSS/home.css">
<div class="page">

    <div id="background-interation">
        <h1 style="display: flex;place-content: center;">O que deseja fazer?</h1>
        <div class="d-grid gap-2" style="display: flex; place-content: center;">
            <a href="/cadastroCarro" method="GET">
                <button class="btn" type="button">Cadastrar Carros</button>
            </a>
            <a href="/mostrarCarros" method="GET">
                <button class="btn" type="button">Listar Carros</button>
            </a>
        </div>
    </div>

    <div id="image-noticia1">
        <p class="text">Conheça o Renault Alpine Vision Concept
        Tratado como a alternativa ao Porsche Cayman, o novo 
        Alpine enche os olhos, com as suas linhas sedutoras. Aind...
        </p>
    </div>
    <div id="image-noticia2">
        <p class="text">Renault confirma Alaskan para 2016
            A Renault confirmou há algumas semanas, durante o evento de lançamento 
            do Sandero RS, que a picape Alaskan
        </p>
    </div>
    

</div>