<div>
    <h1>Faça seu login!</h1>
    <form action="/login" method="POST">
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email">
        </div>
        <div>
            <label for="password">Senha:</label>
            <input type="password" name="senha">
        </div>
        <div>
            <input type="submit" value="login">
        </div>
    </form>
</div>