<link rel="stylesheet" href="/CSS/login.css">
<div id="background-login">

    <h1 style="display: flex;place-content: center;">Entre para o time NextCars!</h1>
    <div class="div-extern">

    
    <div style="display: flex; place-content: center;" class="div-form-login">
        <div id="div-login">
        
        <form action="/home" method="POST">
            <h2>Login</h2>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Email:" required>
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Senha</label>
                <input name="senha" type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha:"
                    required>
            </div>
            <div id="botao-login">
                <button type="submit" class="btn">Entrar</button>
            </div>
            
        </form>
        </div>
    </div>

    </div>

</div>