<h1 style="display: flex; place-content: center;">Bem-vindo ao NextCars</h1>
<p class="cadastro-text" style="display: flex; place-content: center;">Faça seu cadastro!</p>
<div style="display: flex; place-content: center;" class="div-form-cadastro">
<link rel="stylesheet" href="/CSS/style.css">
<form action="/login" method="POST">
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Nome</label>
        <input name="nome" type="text" class="form-control" class="input-register" placeholder="Nome:">
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input name="email" type="email" class="form-control" class="input-register" aria-describedby="emailHelp" placeholder="Email:" required>
        <div id="emailHelp" class="form-text">Nós nunca enviaremos seu email a ninguém.</div>
        
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Senha</label>
        <input name="senha" type="password" class="form-control" class="input-register" placeholder="Senha:" required>
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Confirmar Senha</label>
        <input name="confirmSenha" type="password" class="form-control" class="input-register" placeholder="Confirmar Senha:" required>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button></form>
</div>
