
<div id="background-body">

    <h1 class="h1-register" style="display: flex; place-content: center;">Bem-vindo ao NextCars</h1>

    <div style="display: flex; place-content: center;" class="div-form-cadastro">

        <div id="div-register">

            <form action="/login" method="POST">
                <p class="cadastro-text" style="font-size:1.5em;display: flex; place-content: center;">Cadastro</p>
                <div class="mb-3" class="input">
                    <label for="exampleInputPassword1" class="form-label">Nome</label>
                    <input name="nome" type="text" class="form-control" placeholder="Nome:" class="inp-register"
                        required>
                </div>

                <div class="mb-3" class="input">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input name="email" type="text" class="form-control" placeholder="Email:" required>
                </div>

                <div class="mb-3" class="input">
                    <label for="exampleInputPassword1" class="form-label">Senha</label>
                    <input name="senha" type="password" class="form-control" placeholder="Senha:" class="inp-register"
                        required>
                </div>

                <div class="mb-3" class="input">
                    <label for="exampleInputPassword1" class="form-label">Confirmar Senha</label>
                    <input name="confirmSenha" type="password" class="form-control" placeholder="Senha:"
                        class="inp-register" required>
                </div>

                <div id="botao-cadastro"> 
                    <div class="botao">
                        <button type="submit" class="btn">Cadastrar</button>
                    </div>
                    
                    <p>Já tem uma conta?<a href="/login" style="text-decoration: none;">Entrar</a></p>
                </div>

            </form>
        </div>
    </div>
</div>