h1{
    font-weight: bolder;
    color: #2aa0af;
}
h2{
    font-weight: bold;
    color: #2aa0af;
    font-size: 1.5em;
    text-align: center;
}
.div-form-login{
    width: 30vw;
    height: 44vh;
    color:white;
    backdrop-filter: blur(20px);
    border: solid 4px #2aa0af;
    border-radius: 10px;
    margin-top: 5%;
}
body{
    background-image: url(../images/aston_valkyries.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.div-extern{
    display: flex;
        place-content: center;
}
.form-control{
    border: 0;
    border-bottom: 1px solid black;
    border:solid 1px rgb(0, 0, 0);
    width: 20vw;
    background-color: transparent;
    border-radius: 5px;
    color: whitesmoke;
}
.form-control::placeholder{
    color: aliceblue;
}
.form-label{
    color: #2aa0af;
}
#botao-login{
    text-align: center;   
}
.h1-register{
    color: #2aa0af;
}
.cadastro-text{
    color: #2aa0af;
    font-weight:bold ;
}
#emailHelp{
    color: #2aa0af;
}
.btn{
    background-color: transparent;
    border: solid 1px #2aa0af;
    color: white;
}
.btn:hover{
    background-color: #2aa0af;
    color: black;
}
