input.form-control{
    border: solid 1px #790202;
}
#background-login{
    justify-content: center;
}
p.cadastro-text{
    color: #790202;
}
h1.h1-register{
    color: #790202;
}
.btn{
    border: solid 1px #790202;
    
}
.btn:hover{
    background-color: #790202;
    color: white;
}
.botao{
    text-align: ;
}





input.form-control{
    border: solid 1px #790202;
}
#background-login{
    justify-content: center;
}
p.cadastro-text{
    color: #790202;
}
h1.h1-register{
    color: #790202;
}
.btn{
    border: solid 1px #790202;
    
}
.btn:hover{
    background-color: #790202;
    color: white;
}
.botao{
    text-align: center;
}